/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/05/2015, 09:22:10 AM
    Author     : eislas
*/

.negocio{
    /* border: solid 1px #0c63ee; */
    height: 300px;
    /* margin: 10px; */
    /* box-shadow: 0px 0px 3px 0px inset; */
    padding: 10px;
    /*    -webkit-border-image: url(border.png) 30 round;  Safari 3.1-5 
        -o-border-image: url(border.png) 30 round;  Opera 11-12.1 */
    /*    border-image: url(../pieza.png) 131;
        border-width: 30px;
        margin: -30px;
        background: red;*/
    background-size: 100% 100%;
    border-radius: 5px;
}
.negocio:nth-child(odd){
    /*background-color: black;*/
    background-image: url(../img/pieza-odd.png);    
}
.negocio:nth-child(even){
    /*background-color: black;*/
    background-image: url(../img/pieza-even.png);    
}

.negocio:nth-child(6n+3) {
    background-image: url(../img/pieza-3odd.png);    
}
.negocio:nth-child(6n+0) {
    background-image: url(../img/pieza-3even.png);
}

.descripcion-negocio{
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 1s all;
    -webkit-transition: 1s all;
}
.descripcion-negocio:hover{
    /* overflow: visible; */
    z-index: 999;
    position: absolute;
    /*height: auto;*/
    overflow: auto;
    opacity: 1;
    box-shadow: 0px 0px 300px 200px white;
}

.descripcion-negocio .logo{
    width: 100px;
}
.descripcion-negocio .nombre{
    display: inline-block;
    text-shadow: 0px 0px 5px black, 0px 0px 10px black, 0px 0px 15px black;
    color: white;
    margin: 10px;
}

.descripcion-negocio pre{
    background-color: rgba(255,255,255,0.8);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}