<div>
    <h3>Términos de Uso</h3>
    <p>
        Toda la información proporcionada por los usuarios será pública
        por medio de nuestra
        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.IslasCruz.GacetaTiemposDeGloria">App <i class="fa fa-external-link"></i></a> 
        o <a target="_blank" href="http://resolute-oxygen-95315.appspot.com/">sitio web <i class="fa fa-external-link"></i></a>
    </p>
    <p>
        Cada usuario es el responsable de la información publicada en su cuenta.
        Ya que solo el contará con la llave de acceso para modificar dicha información.
    </p>
    <h4>Políticas de contenido</h4>
    <ul>
        <li>Está prohibido publicar contenido sexual.</li>
        <li>Está prohibido publicar contenido relacionado con venta de drogas.</li>
        <li>Está prohibido publicar contenido relacionado con trata de personas.</li>
        <li>Está prohibido publicar contenido como amenazas de violencia.</li>
        <li>Cualquier contenido que falte a la buena moral, está prohibido en este servicio.</li>
    </ul>
    <p>
        Como dueños y administradores nos reservamos el derecho de eliminar
        cualquier contenido que infrinja las políticas de contenido de este contrato.
    </p>
    <p>
        Como propietarios <u>no</u> nos hacemos responsables por daños ocasionados 
        derivados de la información publicada en este servicio.
    </p>
</div>